parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method OliverKlee\\\\Realty\\\\Tests\\\\Functional\\\\FrontEnd\\\\EditorTest\\:\\:getMock\\(\\)\\.$#"
			count: 1
			path: Tests/Functional/FrontEnd/EditorTest.php

		-
			message: "#^Call to an undefined method OliverKlee\\\\Realty\\\\Tests\\\\Functional\\\\Import\\\\OpenImmoImportTest\\:\\:getMock\\(\\)\\.$#"
			count: 1
			path: Tests/Functional/Import/OpenImmoImportTest.php

		-
			message: "#^Constant PATH_site not found\\.$#"
			count: 9
			path: Tests/Functional/Import/OpenImmoImportTest.php

		-
			message: "#^Constant PATH_site not found\\.$#"
			count: 1
			path: lib/class.tx_realty_openImmoImport.php

		-
			message: "#^Constructor of class tx_realty_pi1_FrontEndView has an unused parameter \\$isTestMode\\.$#"
			count: 1
			path: pi1/class.tx_realty_pi1_FrontEndView.php

		-
			message: "#^Constructor of class tx_realty_pi1_GoogleMapsView has an unused parameter \\$isTestMode\\.$#"
			count: 1
			path: pi1/class.tx_realty_pi1_GoogleMapsView.php

