/***** General styles *****/

.tx-realty-pi1 a.button,
.tx-realty-pi1 span.button {
	display: block;
	height: 18px;
	line-height: 18px;
	margin: 1px;
	text-align: center;
	font-weight: bold;
	font-size: 11px;
	color: white;
	text-decoration: none;
	border: none;
	background: url(images/button_bg_left.png) no-repeat top left #FF6600;
	padding-left: 0.5em;
}
.tx-realty-pi1 a.button span,
.tx-realty-pi1 span.button span {
	display: block;
	background: url(images/button_bg_right.png) no-repeat top right #FF6600;
	padding-right: 0.5em;
}
.tx-realty-pi1 span.button span {
	cursor: default; /* for disabled buttons, don't use the "I" text cursor */
}
.tx-realty-pi1 a.button span {
	cursor: pointer; /* IE hack */
}
.tx-realty-pi1 span.act,
.tx-realty-pi1 a.act {
	background: url(images/button_act_bg_left.png) no-repeat top left #B3C5D3;
}
.tx-realty-pi1 span.act span,
.tx-realty-pi1 a.act span {
	background: url(images/button_act_bg_right.png) no-repeat top right #B3C5D3;
}

.clear {
	height: 1px;
	clear: both;
}

.tx-realty-pi1 .error {
	color: red;
	font-weight: bold;
}

.tx-realty-pi1 .list-view .border {
	width: 100%;
	height: 2px;
	background: #FFA500;
	margin: 0 0 5px 0;;
}

/* Buttons */
.tx-realty-pi1 a.back,
.tx-realty-pi1 a.close,
.tx-realty-pi1 a.objectsByOwner {
	float: right;
}

.tx-realty-pi1 a.addToFavorites,
.tx-realty-pi1 a.removeFromFavorites,
.tx-realty-pi1 a.contact,
.tx-realty-pi1 a.newRecord {
	float: left;
}

.tx-realty-pi1-submit {
	background: url(images/button_bg_right.png) no-repeat top right;
	height: 18px;
	cursor: pointer;
	border: none;
	text-align: center;
	font-weight: bold;
	font-size: 11px;
	line-height: 18px;
	color: #ffffff;
	padding-right: 10px;
}

/* Images in result list and single-view */
.tx-realty-pi1 .image {
	border: 1px solid #B3C5D3;
	vertical-align: middle;
	text-align: center;
	padding: 1px;
}
.tx-realty-pi1 .image img {
	border: 0;
}





/***** LIST VIEW *****/

/*** Filter before result list ***/
.tx-realty-pi1 .list-view .filter {
	border: 1px solid #B9C2C9;
	margin: 5px 0;
	padding: 5px;
}
.tx-realty-pi1 .list-view .filter h3 {
	margin: 2px 0;
	padding: 0;
}
.tx-realty-pi1 .list-view .filter .params .param {
	float: left;
	margin-left: 12px;
}
.tx-realty-pi1 .list-view .filter .params .first {
	margin-left: -2px;
}
.tx-realty-pi1 .list-view .filter .submit a.search {
	width: 60px;
}


/*** Result List ***/

.tx-realty-pi1 .list-view table.result {
	clear: both;
	width: 100%;
	border-collapse: collapse;
	padding: 0;
}

/* thead */
.tx-realty-pi1 .list-view .result thead tr td {
	border-bottom: 2px solid #FFA500;
}
.tx-realty-pi1 .list-view .result thead tr td {
	line-height: 30px;
}
.tx-realty-pi1 .list-view .result thead h2 {
	margin-left: 8px;
}
.tx-realty-pi1 .list-view .result table.pagination {
	float: right;
	border-collapse: collapse;
	padding: 0;
	margin-right: 4px;
}
.tx-realty-pi1 .list-view .result table.pagination td {
	border: none;
	vertical-align: middle;
}
.tx-realty-pi1 .list-view .result table.pagination .label {
	padding-right: 4px;
}
/*
.tx-realty-pi1 .list-view .result table.pagination a {
	padding-left: 3px;
}
.tx-realty-pi1 .list-view .result table.pagination a div {
	padding-right: 3px;
	width: 1.25em;
}*/


/* tbody */

/* single item in the list */
.tx-realty-pi1 .list-view .result tbody tr table.item {
	border-top: 2px solid #FFA500;
	margin-left: 12px;
	width: 98%;
	empty-cells: hide;
	border-collapse: separate;
	border-spacing: 5px;
	padding: 0;
}
.tx-realty-pi1 .list-view .result tbody tr.first table.item {
	border-top: none;
}
.tx-realty-pi1 .list-view .result .item .checkbox {
	width: 1%;
}
.tx-realty-pi1 .list-view .result .item h3 {
	margin: 0;
	padding: 0;
}
.tx-realty-pi1 .list-view .result .item p.details {
	line-height: 1em;
}

.tx-realty-pi1 .list-view .result .item td {
	vertical-align: top;
	margin-top: 5px;
}
.tx-realty-pi1 .list-view .result  td.image {
	vertical-align: middle;
}
.tx-realty-pi1 .list-view .result .item  td.tx-realty-pi1-editorLinks {
	float: right;
	white-space: nowrap;
}

/* description of the list item */
.tx-realty-pi1 .list-view .result .description .title {
	font-weight: bold;
}
.tx-realty-pi1 .list-view .result .description p {
	margin: 2px 0;
	padding: 0;
	line-height: 1.2em;
}

.tx-realty-pi1 .list-view .result .description table.details {
	border-collapse: collapse;
	width: 100%;
	color: #FF6D00;
}

/* images of the list item */
.tx-realty-pi1 .list-view .result .image {
	width: 98px;
	height: 98px;
}

/* tfoot */
.tx-realty-pi1 .list-view .result tfoot td .favorites {
	height: 44px;
	background: url(images/fav_arrow.png) no-repeat 26px 0;
	margin-left: 0;
}
.tx-realty-pi1 .list-view .result td.sorting {
	background: #E0E8EB;
}
.tx-realty-pi1 .list-view .result table.sorting {
	border-collapse: collapse;
	padding: 0;
}
.tx-realty-pi1 .list-view .result table.sorting td {
	padding-left: 24px;
	line-height: 20px;
}
.tx-realty-pi1 .list-view .result .favorites,
.tx-realty-pi1 .list-view .result .favorites a {
	margin-top: 22px;
	margin-left: 36px;
}
.tx-realty-pi1 .list-view .result tfoot td .pagination {
	margin-top: 42px;
}
.tx-realty-pi1 .list-view #tx_realty_map {
	clear: both;
	width: 100%;
	height: 400px;
	margin: 20px 0;
}



/***** SINGLE VIEW *****/

.tx-realty-pi1 .single-view .text-pane {
	float: left;
	margin: 0 1em 1em 0;
	width: 450px;
}
.tx-realty-pi1 .single-view .text-pane h4 {
	margin: 1.5em 0 0;
	padding: 0;
}
.tx-realty-pi1 .single-view .text-pane p {
	margin: 0;
	padding: 0;
}
.tx-realty-pi1 .single-view .text-pane .further-description {
	clear: left;
}
.tx-realty-pi1 .single-view .text-pane .overview {
	border-collapse: collapse;
	margin: 1.5em 0 .5em;
	padding: 0;
	width: 100%;
}
.tx-realty-pi1 .single-view .text-pane .overview th {
	text-align: left;
	background: #D9E2E7;
	font-weight: bold;
	padding: 2px 1em;
}
.tx-realty-pi1 .single-view .text-pane .overview th,
.tx-realty-pi1 .single-view .text-pane .overview td {
	border: 1px solid white;
}
.tx-realty-pi1 .single-view .text-pane .overview td {
	vertical-align: top;
	padding: 1px 1em;
}
.tx-realty-pi1 .single-view .text-pane .overview tr.odd {
	background: #F0F4F7;
}
.tx-realty-pi1 .single-view .text-pane .overview tr.even {
	background: #E7ECF0;
}
.tx-realty-pi1 .single-view .text-pane .buttons {
	padding: 1em 0 3em;
}

.tx-realty-pi1 .single-view #tx_realty_map {
	clear: both;
	width: 450px;
	height: 300px;
	margin: 20px 0;
}

.tx-realty-pi1 .tx-realty-pi1-offerer dl {
	position: relative;
	list-style-type: none;
	margin-top: .5px;
}
.tx-realty-pi1 .tx-realty-pi1-offerer dt {
	display: inline;
}
.tx-realty-pi1 .tx-realty-pi1-offerer dd {
	margin-left: 0;
}
.tx-realty-pi1 .tx-realty-pi1-offerer dl .link {
	position: absolute;
	bottom: -.1em;
	right: 0;
}

/* Images */
.tx-realty-pi1 .single-view .images .item {
	float: left;
}
.tx-realty-pi1 .single-view .images .item .image {
	width: 137px;
	height: 137px;
}


/* Lightbox Images */
#prevLink:hover, #prevLink:visited:hover {
	background: url(images/prevlabel.gif) left 15% no-repeat !important;
}

#nextLink:hover, #nextLink:visited:hover {
	background: url(images/nextlabel.gif) right 15% no-repeat !important;
}



/***** GALLERY VIEW *****/
.tx-realty-pi1 .gallery-view {
	padding: 1em;
}

/* full size image */
.tx-realty-pi1 .gallery-view .fullsize {
	float: left;
	border: 1px solid #B3C5D3;
	background: #B3C5D3;
}
.tx-realty-pi1 .gallery-view .fullsize-image {
	width: 602px;
	height: 602px;
	vertical-align: middle;
	text-align: center;
	background: white;
}
.tx-realty-pi1 .gallery-view .fullsize .caption {
	font-weight: bold;
	padding: 0.125em 0.25em 0.25em;
}

/* thumbnails */
.tx-realty-pi1 .gallery-view .thumbs {
	float: left;
	width: 150px;
	margin-left: 1em;
	overflow: auto;
}
.tx-realty-pi1 .gallery-view .thumbs table {
	padding: 0;
	border-collapse: separate;
	border-spacing: 0.125em;
}
.tx-realty-pi1 .gallery-view .thumbs .image {
	vertical-align: middle;
	text-align: center;
	width: 137px;
	height: 137px;
}
.tx-realty-pi1 .gallery-view .image img {
	border: none;
	margin: 0;
}
.tx-realty-pi1 .gallery-view .item .caption {
	font-size: 10px;
	padding: 0 0.25em;
}

/* buttons */
.tx-realty-pi1 .gallery-view .buttons {
	clear: left;
	margin-right: 14px;
}


/***** CITY SELECTOR *****/
.tx-realty-pi1 .city-selector {
	width: 198px;
	margin-top: 7px;
	border: 6px solid #E4EAF8;
}
.tx-realty-pi1 .city-selector .outer {
	border: 1px solid #606673;
	padding: 1px;
}
.tx-realty-pi1 .city-selector .inner {
	background: url(images/cityselector_bg.png) repeat-x;
}
.tx-realty-pi1 .city-selector .title {
	height: 32px;
	background: url(images/cityselector_head.png) no-repeat 50% 50%;
}
.tx-realty-pi1 .city-selector h3 {
	visibility: hidden;
}
.tx-realty-pi1 .city-selector p {
	padding: 0 5px 5px;
	margin: 0;
}
.tx-realty-pi1 .city-selector form {
	margin: 0;
	padding: 4px;
}
.tx-realty-pi1 .city-selector form select {
	width: 100%;
}

/***** CONTACT FORM *****/
fieldset.tx-realty-pi1-fieldset {
	margin-bottom: 5px;
	border: 1px solid #d9e2e7;
	background: #edf2f5;
}

p.tx-realty-pi1-objekt-nr {
	margin: 2px 0;
	padding: 0;
}

.tx-realty-pi1-field {
	width: 98%;
	font-size: 11px;
	clear: both;
}

.tx-realty-pi1-information,
.tx-realty-pi1-label {
	float: left;
	display: block;
	margin: 1px 0;
	padding: 2px 5px;
	line-height: 22px;
	background: #d9e2e7;

}

.tx-realty-pi1-information {
	font-size: 11px;
	width: 430px;
}

.tx-realty-pi1-label {
	width: 150px;
}

.tx-realty-pi1-input {
	font-size: 12px;
	width: 280px;
	height: 22px;
	line-height: 18px;
	border-style: solid;
	border: 1px solid #bdcad4;
	background-color: #f0f4f7;
	margin: 1px;
}

.tx-realty-pi1-textarea {
	font-size: 12px;
	width: 280px;
	height: 130px;
	line-height: 18px;
	border-style: solid;
	border: 1px solid #bdcad4;
	background-color: #f0f4f7;
	margin: 1px;
}

.tx-realty-pi1-contact-form span.button {
	float: left;
	margin: 10px 0 5px 160px;
}

/***** FILTER FORM *****/
.tx-realty-pi1-filter-form .tx-realty-pi1-label {
	width: 250px;
}

.tx-realty-pi1-filter-form .tx-realty-pi1-input {
	width: 200px;
}

.tx-realty-pi1-filter-form span.button {
	margin: 10px 0 5px 10px;
	float: left;
}

.tx-realty-pi1 .filter span.button {
	margin: 10px 10px 5px 0;
	float : right;
}


/***** FE EDITOR *****/
.tx-realty-pi1 #tx_realty_frontEndEditor select {
	width: 160px;
	margin-left: 0;
}

.tx-realty-pi1 #tx_realty_frontEndEditor fieldset {
	width: 100%;
	max-height: 100%;
	border: 1px solid #cccccc;
	padding: 10px 10px 10px 10px;
	color: #666666;
	margin-bottom: 20px;
}


/***** OFFERER LIST *****/
.tx-realty-pi1 .offerer-list ul {
	list-style-type: none;
	border-top: 2px solid #FFA500;
	margin-top: 10px;
	padding: 10px 0 0 0;
}
.tx-realty-pi1 .offerer-list .result dl {
	position: relative;
	border-bottom: 2px solid #FFA500;
	padding: .5em 0;
}
.tx-realty-pi1 .offerer-list .result dt {
	font-weight: bold;
	display: inline;
}
.tx-realty-pi1 .offerer-list .result dd {
	margin-left: 0;
}
.tx-realty-pi1 .offerer-list .result dl .link {
	position: absolute;
	bottom: .4em;
	right: 0;
}


/*BOX 1 IN FIELDSET 1*/
#tx_realty_frontEndEditor .column3-light {
	clear: both;
	padding: 10px;
	background: #f0f0f0;
	margin-bottom: 10px;
}
#tx_realty_frontEndEditor .column3-dark {
	clear: both;
	padding: 10px;
	background: #e4e4e4;
	margin-bottom: 10px;
}

#tx_realty_frontEndEditor .column3-light dt,
#tx_realty_frontEndEditor .column3-dark dt {
	width: 20%;
	padding: 0;
}

#tx_realty_frontEndEditor .column3-light dd,
#tx_realty_frontEndEditor .column3-dark dd {
	width: 80%;
	padding: 0;
}

#tx_realty_frontEndEditor_title {
	width: 97%;
	margin: 0;
	padding: 0;
}

/*BOX 2 IN FIELDSET 1 | BOX 3 IN FIELDSET 2 | BOX 6 IN FIELDSET 3*/
#tx_realty_frontEndEditor .column1 {
	display: table;
	height: 100%;
	width: 100%;
	background: #e4e4e4;
}

#tx_realty_frontEndEditor .column1 .columnleft1-dark,
#tx_realty_frontEndEditor .column1 .columnright1-dark {
	width: 49%;
	float: left;
	padding: 10px 0 0 0;
}

/*BOX 3 IN FIELDSET 1 | BOX 2 IN FIELDSET 2* | BOX 1 IN FIELDSET 3 |
  BOX 4 IN FIELDSET 3 | BOX 6 IN FIELDSET 3*/

#tx_realty_frontEndEditor .columnlight {
	display: table;
	position: relative;
	background: #f0f0f0;
	height:100%;
	width: 100%;
}

#tx_realty_frontEndEditor .columnlight .columnleft,
#tx_realty_frontEndEditor .columnlight .columnright {
	display: table;
	width: 48%;
	float: left;
	padding: 10px 0 0 0;
}

#tx_realty_frontEndEditor .columnlight .columnleft {
	padding-right: 2%;
}

#tx_realty_frontEndEditor .columndark {
	display: table;
	position: relative;
	background: #e4e4e4;
	height:100%;
	width: 100%;
}

#tx_realty_frontEndEditor .columndark .columnleft,
#tx_realty_frontEndEditor .columndark .columnright {
	display: table;
	width: 48%;
	float: left;
	padding: 10px 0 0 0;
}

#tx_realty_frontEndEditor .columndark .columnleft {
	padding-right: 2%;
}

/*DESCRIPTION FIELDS*/
#tx_realty_frontEndEditor .column-dark {
	display: table;
	background: #e4e4e4;
	width: 100%;
	clear: both;
	padding: 10px 0 0 0 ;
}
#tx_realty_frontEndEditor .column-light {
	display: table;
	background: #f0f0f0;
	width: 100%;
	clear: both;
	padding: 10px 0 0 0 ;
}
#tx_realty_frontEndEditor .teaser textarea {
	height: 80px;
	width: 160%;
}
#tx_realty_frontEndEditor .description textarea {
	height: 160px;
	width: 160%;
}
#tx_realty_frontEndEditor .chooser label {
	font-size: 0.8em;
}
#tx_realty_frontEndEditor .chooser2  {
	display: block;
	margin: 0 0 5px 10px;
}

/*DIVIDER*/
#tx_realty_frontEndEditor .vertdivider {
	width: 0%;
	float: left;
	height: 100%;
	display: table;
	border:5px solid #ffffff;
}

#tx_realty_frontEndEditor .divider {
	display: block;
	background: #ffffff;
	height: 10px;
	clear: both;
}

/*DD DL DT*/
#tx_realty_frontEndEditor dl {
	display: table;
	margin: 0 0 10px 10px;
	padding: 0;
	clear: both;
	width: 100%;
	height: 100%;
}

#tx_realty_frontEndEditor dt {
	width: 40%;
	margin: 0;
	padding: 0;
	float: left;
	height: 100%;
}

#tx_realty_frontEndEditor dd {
	width: 60%;
	float: left;
	margin: 0;
	padding: 0;
	font-size: 0.8em;
	height: 100%;
}

#tx_realty_frontEndEditor dd input {
	width: 90%;
}

/*SUBMIT BUTTOM*/
#tx_realty_frontEndEditor #submit {
	text-align: right;
	width: 100%;
	margin: 0 0 10px 0;
}

#tx_realty_frontEndEditor #tx_realty_frontEndEditor_button_submit,
#uploadfield #tx_realty_frontEndImageUpload_button_submit {
	color: #ffffff;
	margin-right: 10px;
	font-weight: bold;
	font-size: 11px;
	background: transparent url(images/submit_button.png) no-repeat;
	height: 18px;
	width:  115px;
	cursor: pointer;
	border: 0;
}

/*SELECTFIELDS*/
#tx_realty_frontEndEditor #tx_realty_frontEndEditor_country,
#tx_realty_frontEndEditor #tx_realty_frontEndEditor_district,
#tx_realty_frontEndEditor #tx_realty_frontEndEditor_city,
#tx_realty_frontEndEditor #tx_realty_frontEndEditor_old_or_new_building,
#tx_realty_frontEndEditor #tx_realty_frontEndEditor_house_type,
#tx_realty_frontEndEditor #tx_realty_frontEndEditor_apartment_type,
#tx_realty_frontEndEditor #tx_realty_frontEndEditor_state,
#tx_realty_frontEndEditor #tx_realty_frontEndEditor_garage_type,
#tx_realty_frontEndEditor #tx_realty_frontEndEditor_heating_type,
#tx_realty_frontEndEditor #tx_realty_frontEndEditor_pets {
	width: 93%;
}

/*CHECKBOXES HEATINGTYPE*/
#tx_realty_frontEndEditor .heatingcheckbox {
	margin: 0 0 10px 0;
	line-height: 30px;
}

#tx_realty_frontEndEditor #tx_realty_frontEndEditor_heating_type_item,
#tx_realty_frontEndEditor #tx_realty_frontEndEditor_heating_type_item-1,
#tx_realty_frontEndEditor #tx_realty_frontEndEditor_heating_type_item-2,
#tx_realty_frontEndEditor #tx_realty_frontEndEditor_heating_type_item-3,
#tx_realty_frontEndEditor #tx_realty_frontEndEditor_heating_type_item-4,
#tx_realty_frontEndEditor #tx_realty_frontEndEditor_heating_type_item-5,
#tx_realty_frontEndEditor #tx_realty_frontEndEditor_heating_type_item-6,
#tx_realty_frontEndEditor #tx_realty_frontEndEditor_heating_type_item-7,
#tx_realty_frontEndEditor #tx_realty_frontEndEditor_heating_type_item-8,
#tx_realty_frontEndEditor #tx_realty_frontEndEditor_heating_type_item-9,
#tx_realty_frontEndEditor #tx_realty_frontEndEditor_heating_type_item-10,
#tx_realty_frontEndEditor #tx_realty_frontEndEditor_heating_type_item-11 {
	position: relative;
	top: 5px;
	width: 15px;
	float: left;
	margin: 0 5px 0 0;
}

#tx_realty_frontEndEditor .checkbox input {
	margin-right: 3px;
	width: 15px;
}

/*CHECKBOXES*/
#tx_realty_frontEndEditor #tx_realty_frontEndEditor_emphasized,
#tx_realty_frontEndEditor #tx_realty_frontEndEditor_heating_included,
#tx_realty_frontEndEditor #tx_realty_frontEndEditor_rented {
	width: 15px;
	margin: 5px 5px 0 0;
	padding: 0;
}

/*RADIOBUTTONS*/
#tx_realty_frontEndEditor #tx_realty_frontEndEditor_object_type_item,
#tx_realty_frontEndEditor #tx_realty_frontEndEditor_object_type_item-1,
#tx_realty_frontEndEditor #tx_realty_frontEndEditor_contact_data_source_item,
#tx_realty_frontEndEditor #tx_realty_frontEndEditor_contact_data_source_item-1,
#tx_realty_frontEndEditor #tx_realty_frontEndEditor_contact_data_source_item-1 {
	width: 15px;
	margin: 0 5px 0 0;
	padding: 0 0 2px 0;
	height: auto;
}


/*------------------------------------------IMAGEUPLOAD------------------------------------------*/

#uploadfield .column1,
#uploadfield .column2 {
	display: table;
	margin: 0 0 10px 0;
	padding: 5px 0 15px 0;
	background: #f0f0f0;
	clear: both;
	width: 100%;
	max-height: 100%;
	color: #666666;
}
#uploadfield dl {
	display: table;
	margin: 0;
	padding: 8px 0 0 10px;
	clear: both;
	width: 100%;
	max-height: 100%;
}

#uploadfield .column1 dt {
	width: 20%;
	margin: 0;
	padding: 0;
	float: left;
	height: 100%;
	line-height: 20px;
}
#uploadfield .column1 dd {
	width: 80%;
	float: right;
	margin: 0;
	padding: 0;
	height: 100%;
	line-height: 20px;
}

#uploadfield .column2 dt {
	width: 80%;
	margin: 0;
	padding: 0;
	float: left;
	height: 100%;
	line-height: 20px;
}
#uploadfield .column2 dd {
	width: 20%;
	float: right;
	margin: 0;
	padding: 0;
	height: 100%;
	line-height: 20px;
}

#uploadfield .savebuttonposition {
	display: block;
	text-align: right;
	max-width: 90%;
}

#uploadfield .chooser {
	font-size: 0.8em;
	line-height: normal;
}

#uploadfield #tx_realty_frontEndImageUpload_button_submit {
	line-height: 30px;
}

#uploadfield img {
	vertical-align: middle;
	margin: 2px 0;
}
