<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers" data-namespace-typo3-fluid="true">

<h1>
    <f:translate key="LLL:EXT:realty/Resources/Private/Language/locallang_mod.xlf:import_tab"/>
</h1>

<p class="lead">
    <f:translate key="LLL:EXT:realty/Resources/Private/Language/locallang_mod.xlf:mlang_labels_tabdescr"/>
</p>

<f:form action="import" class="js-realty-import-form">
    <p>
        <button class="btn btn-lg btn-primary">
            <f:translate key="LLL:EXT:realty/Resources/Private/Language/locallang_mod.xlf:start_import_button"/>
        </button>
    </p>
</f:form>

</html>
