---
name: CI
on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: '15 3 * * 1'
jobs:
  php-lint:
    name: "PHP linter"
    runs-on: ubuntu-20.04
    steps:
      - name: "Checkout"
        uses: actions/checkout@v3
      - name: "Install PHP"
        uses: shivammathur/setup-php@v2
        with:
          php-version: "${{ matrix.php-version }}"
          tools: "composer:${{ matrix.composer-version }}"
          coverage: none
      - name: "Run PHP lint"
        run: "composer ci:php:lint"
    strategy:
      fail-fast: false
      matrix:
        php-version:
          - 5.5
          - 5.6
          - 7.0
          - 7.1
          - 7.2
          - 7.3
          - 7.4
  code-quality:
    name: "Code quality checks"
    runs-on: ubuntu-20.04
    steps:
      - name: "Checkout"
        uses: actions/checkout@v3
      - name: "Install PHP"
        uses: shivammathur/setup-php@v2
        with:
          php-version: "${{ matrix.php-version }}"
          tools: "composer:${{ matrix.composer-version }}"
          extensions: zip
          coverage: none
      - name: "Show Composer version"
        run: composer --version
      - name: "Cache dependencies installed with composer"
        uses: actions/cache@v3
        with:
          key: "php${{ matrix.php-version }}-composer-${{ hashFiles('**/composer.json') }}"
          path: ~/.composer/cache
          restore-keys: "php${{ matrix.php-version }}-composer-\n"
      - name: "Install Composer dependencies"
        run: "composer install --no-progress"
      - name: "Run command"
        run: "composer ci:${{ matrix.command }}"
    strategy:
      matrix:
        command:
          - "php:stan"
          - "ts:lint"
        php-version:
          - 7.1
  unit-tests:
    name: "Unit tests"
    runs-on: ubuntu-20.04
    needs: php-lint
    steps:
      - name: "Checkout"
        uses: actions/checkout@v3
      - name: "Install PHP"
        uses: shivammathur/setup-php@v2
        with:
          php-version: "${{ matrix.php-version }}"
          tools: "composer:${{ matrix.composer-version }}"
          extensions: dom, json, libxml, zip
          coverage: none
      - name: "Show Composer version"
        run: composer --version
      - name: "Cache dependencies installed with composer"
        uses: actions/cache@v3
        with:
          key: "php${{ matrix.php-version }}-composer-${{ hashFiles('**/composer.json') }}"
          path: ~/.composer/cache
          restore-keys: "php${{ matrix.php-version }}-composer-\n"
      - env:
          TYPO3: "${{ matrix.typo3-version }}"
        name: "Install TYPO3 Core"
        run: |
          composer require --no-progress typo3/minimal:"$TYPO3"
          composer show
      - name: "Install dependencies with composer"
        run: |
          composer update --no-ansi --no-interaction --no-progress --with-dependencies
          composer show
      - name: "Run unit tests"
        run: "composer ci:tests:unit"
    strategy:
      fail-fast: false
      matrix:
        include:
#          - typo3-version: ^7.6
#            php-version: 7.0
#            composer-version: v1
#          - typo3-version: ^7.6
#            php-version: 7.1
#            composer-version: v1
          - typo3-version: ^8.7
            php-version: 7.0
            composer-version: v2
          - typo3-version: ^8.7
            php-version: 7.1
            composer-version: v2
          - typo3-version: ^9.5
            php-version: 7.2
            composer-version: v2
  functional-tests:
    name: "Functional tests"
    runs-on: ubuntu-18.04
    needs: php-lint
    steps:
      - name: "Checkout"
        uses: actions/checkout@v3
      - name: "Install PHP"
        uses: shivammathur/setup-php@v2
        with:
          php-version: "${{ matrix.php-version }}"
          tools: "composer:${{ matrix.composer-version }}"
          extensions: dom, json, libxml, mysqli, zip
          coverage: none
      - name: "Show Composer version"
        run: composer --version
      - name: "Cache dependencies installed with composer"
        uses: actions/cache@v3
        with:
          key: "php${{ matrix.php-version }}-composer-${{ hashFiles('**/composer.json') }}"
          path: ~/.composer/cache
          restore-keys: "php${{ matrix.php-version }}-composer-\n"
      - env:
          TYPO3: "${{ matrix.typo3-version }}"
        name: "Install TYPO3 Core"
        run: |
          composer require --no-progress typo3/minimal:"$TYPO3"
          composer show
      - name: "Install dependencies with composer"
        run: |
          composer update --no-ansi --no-interaction --no-progress --with-dependencies
          composer show
      - name: "Start MySQL"
        run: "sudo /etc/init.d/mysql start"
      - name: "Run functional tests"
        run: |
          export typo3DatabaseName="typo3";
          export typo3DatabaseHost="127.0.0.1";
          export typo3DatabaseUsername="root";
          export typo3DatabasePassword="root";
          composer ci:tests:functional
    strategy:
      fail-fast: false
      matrix:
        include:
#          - typo3-version: ^7.6
#            php-version: 7.0
#            composer-version: v1
#          - typo3-version: ^7.6
#            php-version: 7.1
#            composer-version: v1
          - typo3-version: ^8.7
            php-version: 7.0
            composer-version: v2
          - typo3-version: ^8.7
            php-version: 7.1
            composer-version: v2
          - typo3-version: ^9.5
            php-version: 7.2
            composer-version: v2
  legacy-tests:
    name: "Legacy tests"
    runs-on: ubuntu-20.04
    needs: php-lint
    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
          MYSQL_DATABASE: laravel_tags
        ports:
          - 3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    env:
      DATABASE_HOST: 127.0.0.1
      DATABASE_USER: root
      DATABASE_PASSWORD: root
      DATABASE_NAME: typo3
      RUN_TESTS_COMMAND: ${{ matrix.run-tests-command }}
    steps:
      - name: "Checkout"
        uses: actions/checkout@v3
      - name: "Install PHP"
        uses: shivammathur/setup-php@v2
        with:
          php-version: "${{ matrix.php-version }}"
          tools: "composer:${{ matrix.composer-version }}"
          extensions: dom, json, libxml, mysqli, zip
          coverage: none
      - name: "Show Composer version"
        run: composer --version
      - name: "Cache dependencies installed with composer"
        uses: actions/cache@v3
        with:
          key: "php${{ matrix.php-version }}-composer-${{ hashFiles('**/composer.json') }}"
          path: ~/.composer/cache
          restore-keys: "php${{ matrix.php-version }}-composer-\n"
      - env:
          TYPO3: "${{ matrix.typo3-version }}"
        name: "Install TYPO3 Core"
        run: |
          composer require --no-progress typo3/minimal:"$TYPO3"
          composer show
      # Note: --non-interactive needs to change to --no-interaction in newer Console versions.
      - name: "Set up TYPO3"
        run: >
          .Build/vendor/bin/typo3cms install:setup --non-interactive --site-setup-type="site"
          --database-user-name="${DATABASE_USER}" --database-host-name="${DATABASE_HOST}"
          --database-port="${{ job.services.mysql.ports[3306] }}" --database-name="${DATABASE_NAME}"
          --admin-user-name="admin" --admin-password="password" --site-name="Test installation";
      - name: "Run legacy tests"
        run: "composer ci:tests:unit-legacy"
    strategy:
      fail-fast: false
      matrix:
        include:
          - typo3-version: ^8.7
            php-version: 7.0
            composer-version: v2
            run-tests-command: ".Build/vendor/bin/typo3 phpunit:run"
          - typo3-version: ^8.7
            php-version: 7.1
            composer-version: v2
            run-tests-command: ".Build/vendor/bin/typo3 phpunit:run"
          - typo3-version: ^9.5
            php-version: 7.2
            composer-version: v2
            run-tests-command: ".Build/vendor/bin/typo3 phpunit:run"
